
:root {
    --topBarColor: #6437cc;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

.topBar {
    background-color: var(--topBarColor);
    text-align: center;
}

#logoImage {
    margin: 40px;
    width: 500px;
    margin: 3px;
}

#header {
    background-image: url("./assets/header-1.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%
}

.content {
    margin: auto;
    max-width: 99.0rem;
    padding: 4.0rem;
    margin: 10.0rem;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--topBarColor);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.card {
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
}

.card:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.50);
}

.ingr {
    cursor: url('./assets/cursor-ingr.png'), default;
}

.prep {
    cursor: url('./assets/cursor-prep.png'), default;
}

a {
    text-decoration: none;
}

.buyButton {
    color: var(--topBarColor);
    padding: 16px;
    border-radius: 20px;
    color: white;
}

li {
    margin-bottom: 14px;
}

.ingrList {
    margin-bottom: 50px;
}

.intruc {
    cursor: url('./assets/cursor-intruc.png'), default;
}

p {
    margin: 20px;
    line-height: 28px;
}

footer {
    background-color: var(--topBarColor);
    text-align: center;
    font-weight: bold;
    padding: 50px;
}

@media screen and (max-width: 840px) {
    .card {
        overflow: hidden;
    }
    .content h1 {
        font-size: 30px;
        text-align: center;
    }
    .content {
        margin-left: 0;
        margin-top: 0;
        width: 36.0rem;
        overflow-x: hidden;
        
    }
    .card:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 750px) {
    .content h1 {
        font-size: 30px;
        text-align: center;
    }
    .content {
        margin-left: 0;
        margin-top: 0;
        width: 26.0rem;
        overflow-x: hidden;
    }
}
@media screen and (max-width: 620px) {
    .content h1 {
        font-size: 30px;
        text-align: center;
    }
    .content {
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        padding-right: 0;
        padding-left: 01.0rem;
        width: 28.0rem;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px) {
    #logoImage {
        width: 400px;
    }
    .content h1 {
        font-size: 30px;
        text-align: center;
        margin-left: -70px;
    }
    .content {
        margin-left: -50px;
        margin-top: 0;
        margin-right: 0;
        padding-left: 0;
        margin-bottom: -1px;
        overflow-x: hidden;
    }
    .card,
    .ingr,
    .prep,
    h2 {
        margin-right: 30px;
        margin-left: -20px;
    }
    p {
        margin-left: 2px;
        text-align: justify;
    }
    .card {
        margin-bottom: -10px;

    }
    .ingr {
        margin-bottom: -20px;
    }
    .prep {
        margin-top: -100px;
    }
    .instruc {
        margin-top: -70px;
    }
    .ingrList {
        margin-bottom: 30px;
    }
}