:root {
    --topBarColor: #6437cc;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

.topBar {
    background-color: var(--topBarColor);
    text-align: center;
}

#logoImage {
    margin: 40px;
    width: 500px;
    margin: 3px;
}

#header {
    background-image: url("./assets/header-1.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%
}

h1, h2, h3, h4, h5, h6 {
    color: var(--topBarColor);
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.cardIngr {
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
    width: 50%;
    margin-left: 20vw;
}

.cardPrep {
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
    width: 50%;
    margin-left: 20vw;
}

.cardInstruc {
    padding: 70px 100px;
    margin-top: 50px;
    border-radius: 20px;
    width: 50%;
    margin-left: 20vw;
    margin-bottom: 60px;
}

.cardIngr:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.50);
}

.cardPrep:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.50);
}

.cardInstruc:hover {
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.50);
}

.cardIngr {
    cursor: url('./assets/cursor-ingr.png'), default;
}

.cardPrep {
    cursor: url('./assets/cursor-prep.png'), default;
}

li {
    margin-bottom: 14px;
}

.ingrList {
    margin-bottom: 50px;
}

.intruc {
    cursor: url('./assets/cursor-intruc.png'), default;
}

p {
    margin: 20px;
    line-height: 28px;
}

footer {
    background-color: var(--topBarColor);
    text-align: center;
    font-weight: bold;
    padding: 50px;
    color: white;
}

@media screen and (max-width: 600px) {
    #logoImage {
        width: 400px;
        text-align: left;
    }

    #header {
        background-image: url("./assets/header-1.jpg");
        background-size: cover;
        background-position: center;
        height: 150px;
        max-width: 600px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }

    h2 {
        margin-left: 10px;
    }   

    .cardIngr {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;   
    }

    .cardPrep {
        padding-left: 0;
        padding-right: 0;
        margin-top: -50px;
        margin-left: 8px;
        margin-right: 0;
        width: 100%;   
    }

    .cardInstruc {
        padding-left: 0;
        padding-right: 0;
        margin-top: -10px;
        margin-left: 2px;
        margin-right: 0;
        width: 100%;   
    }

    .cardPrep li {
        word-spacing: 8px;
        margin-top: 30px;
        margin-bottom: 1px;
    }

    .cardIngr:hover {
        box-shadow: none;
    }

    .cardPrep:hover {
        box-shadow: none;
    }

    .cardInstruc:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 450px) {
    #logoImage {
        width: 400px;
        text-align: left;
    }

    #header {
        background-image: url("./assets/header-1.jpg");
        background-size: cover;
        background-position: center;
        height: 150px;
        max-width: 450px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }

    h2 {
        margin-left: 10px;
    }   

    .cardIngr {
        padding-left: 0;
        padding-right: 0;
        margin-left: 40px;
        margin-right: 0;
        width: 320px;   
    }

    .cardPrep {
        padding-left: 0;
        padding-right: 0;
        margin-top: -50px;
        margin-left: 40px;
        margin-right: 0;
        width: 320px;
        text-align: justify;   
    }

    .cardInstruc {
        padding-left: 0;
        padding-right: 0;
        margin-top: -10px;
        margin-left: 40px;
        margin-right: 0;
        width: 320px;
        text-align: justify;   
    }

    .cardPrep li {
        word-spacing: 8px;
        margin-top: 30px;
        margin-bottom: 1px;
    }

    .cardIngr:hover {
        box-shadow: none;
    }

    .cardPrep:hover {
        box-shadow: none;
    }

    .cardInstruc:hover {
        box-shadow: none;
    }
}

@media screen and (max-width: 380px) {
    #logoImage {
        width: 300px;
        text-align: left;
    }

    #header {
        background-image: url("./assets/header-1.jpg");
        background-size: cover;
        background-position: center;
        height: 150px;
        max-width: 450px;
    }

    h1 {
        font-size: 30px;
        text-align: center;
        margin-top: 50px;
    }

    h2 {
        margin-left: 10px;
    }   

    .cardIngr {
        padding-left: 0;
        padding-right: 0;
        margin-left: 1px;
        margin-right: 0;
        width: 320px;   
    }

    .cardPrep {
        padding-left: 0;
        padding-right: 0;
        margin-top: -50px;
        margin-left: 1px;
        margin-right: 0;
        width: 320px;   
    }

    .cardInstruc {
        padding-left: 0;
        padding-right: 0;
        margin-top: -10px;
        margin-left: 1px;
        margin-right: 0;
        width: 320px;   
    }

    .cardPrep li {
        word-spacing: 8px;
        margin-top: 30px;
        margin-bottom: 1px;
    }

    .cardIngr:hover {
        box-shadow: none;
    }

    .cardPrep:hover {
        box-shadow: none;
    }

    .cardInstruc:hover {
        box-shadow: none;
    }
}
